[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
scoop = "*"
gunicorn = "*"
flask-bcrypt = "*"
flask-login = "*"
stripe = "*"
dotenv = "*"
flask-admin = "*"
flask-wtf = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask = "*"
psycopg2 = "*"
sqlalchemy = "*"
python-dotenv = "*"
email-validator = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
