.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.icon {
    color: white;
    font-size: 25px;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color: black;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.login-container {
	background-color:hsl(0, 5%, 96%);  /* Grey background */
	padding: 20px;           /* Space around the form */
	border-radius: 8px;      /* Rounded corners */
	width: 500px;          /* Adjust width as needed */
  }

  .bbl {
	padding-bottom: 300px;
  }
  
  .login-form {
	display: flex;
	flex-direction: column;
  }
  
  .login-form label {
	margin-bottom: 5px;
  }
  
  .center-horizontally {
	width: 50%; /* Set a width for the element */
	margin-left: auto;
	margin-right: auto;
  }

  /* products */

  .product-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}
.product-card {
	flex: 1 1 calc(33.333% - 20px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}
.product-card img {
	width: 100%;
	height: auto;
}
.product-card h5 {
	margin: 10px 0;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px; /* Set a consistent minimum height */
}
.product-card p {
	margin: 5px 0;
}
.product-card a {
	display: inline-block;
	margin: 10px 0;
	padding: 10px 20px;
	color: white;
	background-color: #007bff;
	border-radius: 5px;
	text-decoration: none;
}
.product-card a:hover {
	background-color: #0056b3;
}